body {
  margin: 0;
  background: #f0f0f0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
}

#canvas-wrapper {
  position: relative;
  margin-bottom: 20px;
}

#toolbar {
  display: flex;
  gap: 20px;
  font-size: 62px;
  background-color: deeppink;
  border-radius: 5px;
  border-style: dashed;
  border-color: beige;
  color: beige
}

button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: deeppink;
  border-radius: 5px;
  border-style: dashed;
  border-color: beige;
  color: beige
}
