body {
  margin: 0;
  
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.outFrame {
  display: flex;
  flex-direction: row;
  
}

#colorPickerImg {
  position: relative;
  z-index: 9999;
}

canvas {
  pointer-events: none;
}

#canvas-wrapper {
  position: relative;
   z-index: 1;
}

#toolbar {
  display: flex;
  flex-direction: row;
  gap: 37px;
  font-size: 22px;
  background-color: #FFFCE5;
  border-radius: 5px;
  border: dotted 20px #000;
  
  
  border-color: beige;
  color: beige;
   z-index: 2;
}

.farbe {
  display: flex;
  flex: 1;
}

.pinselWahl {
  display: flex;
  flex: 1;
  flex-direction: column;
}


button {
  padding: 13px 14px;
  font-size: 16px;
  cursor: pointer;
  background-color: #FFFCE5;
  border-radius: 2px;
  border-style: dashed;
  border-color: beige;
  color: beige
}

.outButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#buttonBar {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

#buttonBar button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.about {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#aboutBar {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
